<!DOCTYPE html>


<!-- Header and Nav -->
<%- include partials/header.ejs %>


<%- include  partials/main_nav.ejs %>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    
  </body>
</html>


<!-- Bottom Nav and Footer -->
<%- include  partials/bottom_nav.ejs %>

<%- include  partials/footer.ejs %>

