<!DOCTYPE html>

<!-- Header and Nav -->
<%- include partials/header.ejs %>


<%- include  partials/main_nav.ejs %>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1 style=text-align:center><%= title %></h1>

    <!--My Survey Content to go below-->

    <p style=text-align:center>This is where the relevant My Surveys content will go.</p>

  </body>
</html>

<!-- Bottom Nav and Footer -->
<%- include  partials/bottom_nav.ejs %>

<%- include  partials/footer.ejs %>
