<!-- Header and Nav -->
<%- include ../partials/header.ejs %>


<%- include  ../partials/main_nav.ejs %>

    <div id="main-body" class="container-fluid" style="max-width: 100%; text-align: center; margin-bottom: 75px">
      <main class="container-fluid">
            <h1 class="display-4" style="text-align: center;">Respond to Survey</h1>
            <h4 class="display-8" style="text-align: center;">share your input</h4>
            <br>
    
            <div id="main-body" class="container-fluid" style="max-width: 80%; text-align: center; margin-bottom: 75px; margin-left: 10%;">
                
                <div class="row">
                    <div class="col-md-offset-3 col-md-12">
            
                        <form class="form" method="post">
                            <div class="form-group">
                                <label for="reponse">Question: <br> <%= survey.question %></label>
                                <textarea style="width:100%;" id="response" name="response" rows="8"></textarea>
                            </div>
            
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
                            <a href="/home" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
                        </form>
                        
                    </div>
                </div>
            </div>
        
        </main>
    </div>

<!-- Bottom Nav and Footer -->
<%- include  ../partials/bottom_nav.ejs %>

<%- include  ../partials/footer.ejs %>